In [1]:
%cd ..

c:\Users\andre\VSCodeProjects\hackathon

c:\Users\andre\VSCodeProjects\hackathon\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [6]:
from marker.converters.pdf import PdfConverter
from marker.models import create_model_dict
from marker.output import text_from_rendered

converter = PdfConverter(
    artifact_dict=create_model_dict(),
)
rendered = converter("data\multipage_table.pdf")
text, _, images = text_from_rendered(rendered)

<>:8: SyntaxWarning: invalid escape sequence '\m'
<>:8: SyntaxWarning: invalid escape sequence '\m'
C:\Users\andre\AppData\Local\Temp\ipykernel_11296\2635305830.py:8: SyntaxWarning: invalid escape sequence '\m'
  rendered = converter("data\multipage_table.pdf")

Loaded layout model datalab-to/surya_layout on device cpu with dtype torch.float32
Loaded texify model to cpu with torch.float32 dtype
Loaded recognition model vikp/surya_rec2 on device cpu with dtype torch.float32
Loaded table recognition model vikp/surya_tablerec on device cpu with dtype torch.float32
Loaded detection model vikp/surya_det3 on device cpu with dtype torch.float32

Recognizing layout: 100%|██████████| 1/1 [00:07<00:00,  7.67s/it]
100%|██████████| 1/1 [00:00<00:00,  3.84it/s]
Detecting bboxes: 0it [00:00, ?it/s]
Recognizing equations: 0it [00:00, ?it/s]
Recognizing tables: 100%|██████████| 1/1 [00:07<00:00,  7.87s/it]

In [7]:
text

'The sunlight danced across the gentle waves, reflec�ng a golden glow that stretched endlessly toward the horizon. Birds chirped harmoniously, crea�ng a serene melody. Amidst the peaceful scenery, a lone figure wandered along the shore, collec�ng smooth pebbles, each one unique, a �ny story etched in their weathered surfaces. Silence lingered, soothing.\n\n| Column 1 | Column 2 | Column 3 | Column 4 | Column 5 |\n| --- | --- | --- | --- | --- |\n| Apple | 24 | Green | Yes | 3.14 |\n| Banana | 42 | Yellow | No | 1.23 |\n| Cherry | 15 | Red | Yes | 2.71 |\n| Date | 67 | Brown | No | 0.99 |\n| Elderberry | 32 | Purple | Yes | 1.68 |\n| Fig | 28 | Black | No | 3.85 |\n| Grape | 54 | Green | Yes | 2.50 |\n| Honeydew | 19 | White | No | 4.67 |\n| Kiwi | 38 | Brown | Yes | 3.33 |\n| Lemon | 49 | Yellow | No | 2.09 |\n| Apple | 24 | Green | Yes | 3.14 |\n| Banana | 42 | Yellow | No | 1.23 |\n| Cherry | 15 | Red | Yes | 2.71 |\n| Date | 67 | Brown | No | 0.99 |\n| Elderberry | 32 | Purple | Yes | 1.68 |\n| Fig | 28 | Black | No | 3.85 |\n| Grape | 54 | Green | Yes | 2.50 |\n\n| Honeydew | 19 | White | No | 4.67 |\n| --- | --- | --- | --- | --- |\n| Kiwi | 38 | Brown | Yes | 3.33 |\n| Lemon | 49 | Yellow | No | 2.09 |\n\n'

In [8]:
from IPython.display import display, Markdown
display(Markdown(text))

The sunlight danced across the gentle waves, reflec�ng a golden glow that stretched endlessly toward the horizon. Birds chirped harmoniously, crea�ng a serene melody. Amidst the peaceful scenery, a lone figure wandered along the shore, collec�ng smooth pebbles, each one unique, a �ny story etched in their weathered surfaces. Silence lingered, soothing.

| Column 1 | Column 2 | Column 3 | Column 4 | Column 5 |
| --- | --- | --- | --- | --- |
| Apple | 24 | Green | Yes | 3.14 |
| Banana | 42 | Yellow | No | 1.23 |
| Cherry | 15 | Red | Yes | 2.71 |
| Date | 67 | Brown | No | 0.99 |
| Elderberry | 32 | Purple | Yes | 1.68 |
| Fig | 28 | Black | No | 3.85 |
| Grape | 54 | Green | Yes | 2.50 |
| Honeydew | 19 | White | No | 4.67 |
| Kiwi | 38 | Brown | Yes | 3.33 |
| Lemon | 49 | Yellow | No | 2.09 |
| Apple | 24 | Green | Yes | 3.14 |
| Banana | 42 | Yellow | No | 1.23 |
| Cherry | 15 | Red | Yes | 2.71 |
| Date | 67 | Brown | No | 0.99 |
| Elderberry | 32 | Purple | Yes | 1.68 |
| Fig | 28 | Black | No | 3.85 |
| Grape | 54 | Green | Yes | 2.50 |

| Honeydew | 19 | White | No | 4.67 |
| --- | --- | --- | --- | --- |
| Kiwi | 38 | Brown | Yes | 3.33 |
| Lemon | 49 | Yellow | No | 2.09 |

In [5]:
from img2table.ocr import TesseractOCR
from img2table.document import Image

# Instantiation of OCR
ocr = TesseractOCR(n_threads=1, lang="eng")

# Instantiation of document, either an image or a PDF
doc = Image("data/multipage_table.png")

# Table extraction
extracted_tables = doc.extract_tables(ocr=ocr,
                                      implicit_rows=False,
                                      implicit_columns=False,
                                      borderless_tables=False,
                                      min_confidence=50)

In [7]:
extracted_tables[0].df

             0         1         2         3         4
0     Column 1  Column 2  Column 3  Column 4  Column 5
1        Apple        24     Green       Yes       314
2       Banana        a2    Yellow        No      1.23
3       Cherry        15       Red       Yes      None
4         Date        67     Brown        No       099
5   Elderberry        32    Purple       Yes      1.68
6          Fig        28     Black        No      3.85
7        Grape        54     Green       Yes       250
8     Honeydew        19     White        No       467
9         kiwi        38     Brown       Yes      3.33
10       Lemon        49    Yellow        No      2.09
11       Apple        24     Green       Yes       314
12      Banana        a2    Yellow        No      1.23
13      Cherry        15       Red       Yes      None
14        Date        67     Brown        No       099
15  Elderberry        32    Purple       Yes      1.68
16         Fig        28     Black        No      3.85
17       Grape        54     Green       Yes       250
18    Honeydew        19     White        No       467
19        Kiwi        38     Brown       Yes      3.33
20       Lemon        49    Yellow        No      2.09

In [8]:
from img2table.document import PDF

pdf = PDF("data/multipage_table.pdf")
extracted_tables = pdf.extract_tables(ocr=ocr,
                                      implicit_rows=False,
                                      implicit_columns=False,
                                      borderless_tables=False,
                                      min_confidence=50)

In [17]:
extracted_tables[0][0].df

             0         1         2         3         4
0     Column 1  Column 2  Column 3  Column 4  Column 5
1        Apple        24     Green       Yes      3.14
2       Banana        42    Yellow        No      1.23
3       Cherry        15       Red       Yes      2.71
4         Date        67     Brown        No      0.99
5   Elderberry        32    Purple       Yes      1.68
6          Fig        28     Black        No      3.85
7        Grape        54     Green       Yes      2.50
8     Honeydew        19     White        No      4.67
9         Kiwi        38     Brown       Yes      3.33
10       Lemon        49    Yellow        No      2.09
11       Apple        24     Green       Yes      3.14
12      Banana        42    Yellow        No      1.23
13      Cherry        15       Red       Yes      2.71
14        Date        67     Brown        No      0.99
15  Elderberry        32    Purple       Yes      1.68
16         Fig        28     Black        No      3.85
17       Grape        54     Green       Yes      2.50

: